Package: actioncenter-kicker-applet
Version: 0.1
Architecture: amd64
Maintainer: seb3773 <https://github.com/seb3773>
Depends: libc6 (>= 2.34), xdotool
Section: x11
Priority: optional
Description: actioncenter-kicker-applet
 XXXXXX XXX
 .

